// Form Partial

// AFS Test
//Thiago Fazzi

.form {
  &__label {
    width: 100%;
    text-align: left;
    font-size: .9rem;
  }
  &__input {
    width: 100%;
    float: right;
    margin-bottom: 10px;
  }
}
