// Modal Partial

// AFS Test
//Thiago Fazzi

@import '../common/globals.scss';

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    display: table;
  }

  &__wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  &__container {
    width: 400px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    font-family: $fontFamily;
    border-radius: $borderRadius;
  }

  &__header {
    margin-top: 0;
    color: $green;

    h1 {
      font-weight: bold;
    }
  }
  
  &__body {
    margin: 20px 0;
    text-align: left;
  }
  
  &__footer {
    display: flex;
    width: 100%;
    justify-content: right;

    :nth-child(n+1) {
      margin-right: .3rem;
    }

    :last-child {
      margin: 0;
    }


  }
}