// Global variables

// AFS Test
// Thiago Fazzi

// Colors
$purple: #BA68C8;
$green: #52A43A;
$orange: #F7AA17;
$red: #EF5350;
$grey: #746E6E;

$divider: #ECECEC;
$label: #B5B5B5;
$primaryValue: #83878b;
$secondaryValue: #5e5f60;


// Card
$cardBorderRadius: 15px;

// Font
$fontFamily: Avenir, Helvetica, Arial, sans-serif;
